@model IEnumerable<ToucheMVCProject.Models.Menu>

@{
    ViewBag.Title = "filterbyNonVeg";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2 class="heading">Non-Veg</h2>


<p>
    @Html.ActionLink("All", "SearchFoodByLocation")
    @Html.ActionLink("Veg", "filterbyVeg")
    @Html.ActionLink("Non-Veg", "filterbyNonVeg")
    @Html.ActionLink("Price", "filterbyPrice")

</p>
@if (Model.Any())
{
    <div class="gallery-container">
        @foreach (var item in Model)
        {
            <div class="gallery">
                <a  href="">
                    <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">
                    <h2 class="dish-name">@item.dishName</h2>
                    <h3 class="dish-description"> @item.description</h3>
                    <p>@item.vtype</p>
                    <p><span>&#8377;</span>@item.price</p>
                    <form action="/Customer/orderFood" method="post" novalidate="novalidate">
                        <input id="quantity" name="quantity" type="number" class="order-bar" />
                        <input id="dishname" name="dishname" type="hidden" value=@item.dishName>
                        <input id="price" name="price" type="hidden" value=@item.price>


                        <input type="submit" value="Add">
                    </form>
                    @*<ul>
            <li>@Html.ActionLink("Add reservation info", "addReservationinfo", new { id = item.id }) |</li>
            <li>@Html.ActionLink("Edit Status", "EditValues", new { id = item.id }) |</li>
            <li>@Html.ActionLink("Menu", "viewMenu", new { id = item.id })</li>
        </ul>*@
                </div>
            </div>


        }
    </div>
}

else
{
    <h2> No results found</h2>
}
<p>@ViewBag.errorMessage</p>


