@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "filtredRestaurantsView";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2>filtredRestaurantsView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opentime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.reservation.customerId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opentime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.closetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.reservation.customerId)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}
<p>@ViewBag.errorMessage</p>
</table>
