@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "filtredRestaurantsView";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1 class="heading">Restaurants near you</h1>

<p>

</p>
@if (Model.Any())
{
    <div class="gallery-container">
        @foreach (var item in Model)
        {
            <div class="gallery">
                <a  href="">
                    <img src=@item.img alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">
                    <h3>
                        @item.name</h3>
                            <p> @item.address</p>
                            <p>@item.category</p>
                    @Html.ActionLink("Book table", "ReserverTable", "Customer",new { id=item.id},null);
                            
                </div>
            </div>
            
            }

            @*</table*@>
        </div>
     }
        else
        {
        <h2>No restaurants in that location </h2>
        }
        <p>@ViewBag.errorMessage</p>
