@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "filtredRestaurantsView";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1 class="heading">Restaurants near you</h1>

<p>

</p>
@if (Model.Any())
{
    <div class="gallery-container">
        @foreach (var item in Model)
        {
            <div class="gallery">
                <a  href="">
                    <img src="https://images.pexels.com/photos/2290070/pexels-photo-2290070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">
                    <h3>
                        @item.name</h3>
                            <p> @item.address</p>
                            <p>@item.category</p>
                            @*<ul>
                                    <li>@Html.ActionLink("Add reservation info", "addReservationinfo", new { id = item.id }) |</li>
                                    <li>@Html.ActionLink("Edit Status", "EditValues", new { id = item.id }) |</li>
                                    <li>@Html.ActionLink("Menu", "viewMenu", new { id = item.id })</li>
                                </ul>*@
                </div>
            </div>
            
            }

            @*</table*@>
        </div>
     }
        else
        {
        <h2>No restaurants in that location </h2>
        }
        <p>@ViewBag.errorMessage</p>
