@model IEnumerable<ToucheMVCProject.Models.order>

@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h2 class="heading">Cart</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dishname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Customer.name)
        </th>*@
               
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dishname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Customer.name)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
        }

</table>
<table class="table">
    <tr>
        <th>Total bill</th>
        <th>Total quantity</th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.totalBill
        </td>
        <td>
            @ViewBag.totalQuantity
        </td>
        <td>@Html.ActionLink("Order", "placeOrder","Customer") </td>
</tr>
</table>
