@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}
@*<link href="~/Content/listStylesheet.css" rel="stylesheet" />*@
<h2 style="text-align:center;">Resturants</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
<!--<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opentime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closetime)
        </th>-->
        @*<th>
            @Html.DisplayNameFor(model => model.state)
        </th>*@
        <!--<th>
            @Html.DisplayNameFor(model => model.city)
        </th>

<th></th>
</tr>-->
<div class="gallery-container">
    @foreach (var item in Model)
    {
    <div class="gallery">
        <a target="_blank" href="">
        <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">
            <h3 style="margin-top:0;">@item.name</h3>
            <p> @item.address</p>
            <p>@item.status</p>
            <ul style="padding-left:0;">
                <li>@Html.ActionLink("Reservation", "addReservationinfo", new { id = item.id }) |</li>
                <li>@Html.ActionLink("Status", "EditValues", new { id = item.id }) |</li>
                <li>@Html.ActionLink("Menu", "viewMenu", new { id = item.id })</li>
            </ul>
        </div>
     </div>
   
        <!--<tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opentime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.closetime)
            </td>-->
            @*<td>
                @Html.DisplayFor(modelItem => item.state)
            </td>*@
            <!--<td>
                @Html.DisplayFor(modelItem => item.city)
            </td>-->
        @*<td>
                @Html.DisplayFor(modelItem => item.reservation.customerId)
            </td>*@
        <!--<td>
                @Html.ActionLink("Add reservation info", "addReservationinfo", new { id=item.id }) |
                @Html.ActionLink("Edit Status", "EditValues", new { id=item.id }) |
                @Html.ActionLink("Menu", "viewMenu", new { id=item.id })
            </td>
        </tr>-->
    }
    </div>
  

    @*</table>*@
