@model IEnumerable<ToucheMVCProject.Models.restaurant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}

<h1 class="heading">Resturants</h1>

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<div class="gallery-container">
    @foreach (var item in Model)
    {
    <div class="gallery">
        <a target="_blank" href="">
        <img src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">
            <h2 class="dish-name">@item.name</h2>
            <h3 class="dish-description"> @item.address</h3>
            <p>@item.status</p>
            <ul style="padding-left:0;">
                <li>@Html.ActionLink("Reservation", "addReservationinfo", new { id = item.id }) |</li>
                <li>@Html.ActionLink("Status", "EditValues", new { id = item.id }) |</li>
                <li>@Html.ActionLink("Menu", "viewMenu", new { id = item.id })</li>
            </ul>
        </div>
     </div>
   
                
    
       }
    
    </div>
  


